.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    font-family: Arial, sans-serif;
    background: #e2e2e3;
    box-shadow: 0 3px 10px  rgba(0, 0, 0, 0.5);
}

h1 {
    text-align: center;
    margin-bottom: 1rem;
}

.controls {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
    justify-content: center;
    flex-wrap: wrap;
}

input, select, button {
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 20px;
}

.user-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    
}


.user-card {
    background-color: #f1f1f1;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 3px 6px  rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-in;
}
.user-card:hover{
    transform: scale(1.03);
}